table, td, tr, th{
	border: 1px solid white;
	border-collapse: collapse;
	margin: auto;
	text-align: center;
	color: white;
	width: 1000px;
	height: 60px;
}
body{
	background-color: gray;
	background-image: url('image/space.jpg');
	margin: auto;
}
table{
	background-color: rgb(102, 102, 102, 0.5)
}
h1{
	color: gray;
	text-align: center;
	font-family: 'Merriweather', serif;
}
.bold{
	font-weight: bold;
}
